@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap');

.custom-video-section {
    height: 1000px;
    background-image: url('/images/bg_pic1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-bottom: 8rem;
}

.custom-model-entry::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
}

.test-custom-button {
    top: 80%;
    right: 50%;
}
.fa-solid {
    color: #978f8f;
    font-size: 20px;
    font-weight: 300;
}